body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
h1 {
    text-shadow: 0px 0px 50px bisque;
}
img {
    width: 10%;
    height: auto;
}
#list-container {
    padding-left: 0;
    text-align: left;
}
a:link {
    color: yellow;
}
a:visited {
    color: orange;
}
@keyframes scroll {
    0% { transform: translateX(800%) }
    100% { transform: translateX(-800%) }
}
#important {
    position: fixed;
    top: 40%;
    left: 0;
    font-size: 10rem;
    font-weight: bold;
    color: rgba(255, 255, 0, 0.2);
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    animation: scroll 120s linear infinite;
    z-index: -1;
}